{% extends 'base.html' %}
{% load static%}

{% block content %}
<div class="w3-display-container w3-animate-opacity ">
    <img src="{{hood.image.cdn_url}} " alt="hourglass" style="width:100%;min-height:350px;max-height:400px;filter: brightness(40%);
">

    <div class="w3-display-topmiddle w3-text-white w3-center w3-padding-top" style="margin-top:5%">
        <strong class="w3-xlarge"><i class="fas fa-map-marker-alt "></i> {{ hood.name }}, </strong>
        <strong class="w3-xlarge">{{hood.location}}</strong>
    </div>
    <div class="w3-display-middle w3-text-white w3-center ">
        <p>
            <a class="info w3-btn w3-round-xxlarge w3-pink" href="{% url 'leave' hood_id=hood.id %}">Leave Hood </a>
        </p>


        <p><a class="info w3-btn w3-round-xxlarge w3-pink" href="{% url 'upload_business' %}">Add Business</a></p>
    </div>


</div>
<div class="w3-row-padding">
    <div class="w3-col l4 w3-padding w3-center">
        <i class="fas fa-briefcase fa-2x w3-center "></i>

        <h3><strong>Business</strong></h3>

    </div>
    <div class="w3-col l4 w3-padding w3-center">
        <i class="fas fa-warehouse fa-2x w3-center "></i>
        <h3><strong>Amenities</strong></h3>
    </div>
    <div class="w3-col l4 w3-padding w3-center">
        <i class="fas fa-pen-square fa-2x w3-center"></i>
        <h3><strong>Udaku</strong></h3>


    </div>


</div>
<div class="w3-container">
 <br>
  <table class="w3-table w3-bordered">
    <tr>
      <th>Business Name</th>
      <th>Email address</th>
    </tr>
      {% for biz in hood.business.all %}
    <tr>
      <td>{{biz.business_name}}</td>
      <td>{{biz.address}}</td>
          <td>{{biz.category}}</td>
          <td>{{biz.owner.username}}</td>
    </tr>
      {% endfor %}

  </table>
</div>
{% endblock %}